.special-heading {
    font-size: 28px;
}






.main-row {
    background-color: #fafafa;
    margin: 0 !important;
    .main-sidebar {
        height: 100% !important;
        background-color: #fff;
        .avatar {
            .img img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            .user {
                .name {
                    font-weight: bold;
                    font-family: "Rubik";
                }
                .admin {
                    font-size: 13px;
                    font-family: "Montserrat";
                }
            }
            
        }
        .side-nav {
            > ul {
                padding: 0 !important;
                > li {
                    border-radius: 5px;
                    list-style: none;
                    margin: 5px 0;
                    position: relative;
                    overflow: hidden;
                    border-bottom: 1px solid #ccc;
                    padding: 10px 15px;
                    > a {
                        transition: .4s ease-in-out;
                        text-decoration: none;
                        color: rgb(119, 119, 119) !important;
                        display: block;
                        font-family: "Roboto";

                        &:hover {
                            padding-left: 7px;
    
                        }
                        i {
                            padding-right: 10px;
                        }
                    }
                    &.active {
                        // background-color: #4b4a4a;
                        background-color: $mainColor;
                        a { color: #fff !important; }
                    }
                    .sub-menu {
                        padding-left: 50px;
                        padding-top: 15px;
                        display: none;
                        li {
                            list-style: none;
                            padding: 5px 0;
                            a {
                                color: rgb(119, 119, 119) !important;
                            }
                        }
                    }
                }
            }
           
          
        }
    }
    .page-content {
        min-height: calc(100vh - 70px);   
        padding-bottom: 20px;  
    }


    &> .col-md-3:first-child {
        padding-left: 0 !important;
        padding-right: 0 !important;
    
    }   
    
}

// ----

body {
    overflow-x: hidden;
}



// ---------------------------- statistics tables ---------
table {
    tr:first-child {
        // background-color: rgb(68, 68, 68);
        background-color: $mainColor;
        th {
            color: #fff;
            font-size: 13px; 
            font-family: 'Nunito';
        }
    }
    tr:not(:first-child) {
        background-color: rgb(255, 255, 255);
        
    }
    
    td {
        color: rgb(133, 133, 133);
        font-size: 14px;
        font-weight: 500;    
    }
    .edit a i {
        font-size: 13px ;
    }

    .avatar img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .price {
        font-size: 15px;
        color: #000;
        font-weight: bold;
    }

    .group {
        background-color: $mainColor;
        padding: 2px 8px;
        display: inline-block;
        color: #fff;
        border-radius: 2px;
    }
    .status {
        &.success {
            color: rgb(38, 189, 38);
            font-weight: bold;
            font-size: 15px;
        }
        &.danger {
            color: rgb(233, 25, 70);
            font-weight: bold;
            font-size: 15px;
        }
    }
}
// ------------------------- statistics table ------------






.item-shadowed {
    box-shadow: 1px -1px 9px rgb(216, 216, 216);
    padding: 25px;
    margin: 10px 0;
}











//--------------- start popup ----------------


.popup {
    padding: 25px;
    position: fixed;
    z-index: 999999999 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 800px;
    box-shadow: 1px -1px 19px #ccc;
    .close { cursor: pointer; }   
    display: none;
    border-radius: 20px;
}
.popup-bg {
    background-color: rgba(0,0,0,.5);
    height: 100%;
    z-index: 9999999 !important;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
@media(max-width: 770px) {
    .popup {
        max-width: 90%;
        margin: auto;
    }
}
//-------------------end popup ---------------













.import-img {
    
    display: block;
    
    .add-img {
        height: 200px;
        border-radius: 5px;
        background-color: rgb(226, 226, 226);
        position: relative;
        cursor: pointer;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 50px;
        }
    }
    img {
        width: 100%;
    }
}















@media (max-width: 770px) {
    .main-sidebar {
        height: initial !important;
        .side-nav-toggler {
            line-height: 85px;
            font-size: 21px;
        }
        nav.side-nav {
            display: none;
        }
    }

}